@media only screen and (min-device-width :1170px) {
}
@media only screen and (min-device-width :992px) and (max-device-width :1169px) {

}
@media only screen and (min-device-width :768px) and (max-device-width :991px) {

}
@media only screen and (min-device-width :550px) and (max-device-width :767px) {
	}

@media only screen and (min-device-width :320px) and (max-device-width :549px) {

   .container{
	   text-align:center !important;
	   }
	.container p{
	   text-align:center !important;
	}
	
	.container h2{
		text-align:center !important;
		}
	.two{
		display:none;
	}
	.main_menu img{
		padding:4px;
		height: 59px;
		width: 96px;
		position: relative;
		top: 15px;
	}
	.navbar-toggle{
		 top:-25px;
	}
   #nav li li {
    display: none;
   }
	#nav li:hover > ul {
			border:none;
	 }
	 #nav li a, .na_v li a {
		padding: 7px 20px !important;
	}

}